<div class="about-container">
    <div class="about-header">
      <img src="/assets/andreas-mueller.jpg" alt="Andreas Müller" />
      <h1>Andreas Müller</h1>
      <h2>Software Engineer & Netzwerktechniker</h2>
    </div>
    
    <div class="about-content">
      <p>
        Hallo, ich bin <strong>Andreas Müller</strong>. Meine Leidenschaft für die Programmierung hat mich dazu
        inspiriert, mich beruflich in diese Richtung zu entwickeln. Zwischen 2022 und 2024 habe ich eine Umschulung
        als Fachinformatiker für Anwendungsentwicklung absolviert und erfolgreich mit einem IHK-Abschluss abgeschlossen.
      </p>
      <p>
        Während dieser Zeit habe ich nicht nur meine Fähigkeiten im <strong>Backend</strong> und <strong>Frontend</strong>
        erweitert, sondern auch ein 9-monatiges Projekt für die IHK-Prüfung abgeschlossen. In diesem Projekt habe ich
        einen Prototyp entwickelt, der sowohl meine technischen als auch meine organisatorischen Fähigkeiten unter Beweis
        stellt. Details dazu findest du in meinem <a routerLink="/projects">Projekte-Bereich</a>.
      </p>
      <p>
        Diese Webseite ist ebenfalls ein Teil meiner Leidenschaft für Webentwicklung. Ich habe sie mit Angular erstellt,
        da ich plane, sie kontinuierlich auszubauen und weiterzuentwickeln. Angular bietet hierfür die optimale Grundlage.
      </p>
      <p>
        Neben der Programmierung beschäftige ich mich auch intensiv mit <strong>Netzwerken</strong> und deren Technologien.
        Ich liebe es, neue Frameworks auszuprobieren und Lösungen zu finden, die sowohl technisch effizient als auch
        ästhetisch ansprechend sind.
      </p>
    </div>
    

  
