<footer class="footer">
    <div class="footer-content">
      <span>&copy; 2024 Andreas Müller. Alle Rechte vorbehalten.</span>
      <nav>
        <a routerLink="/datenschutz">Datenschutz</a>
        <a routerLink="/impressum">Impressum</a>
      </nav>
      <div class="social-links">
        <a href="https://linkedin.com/in/andreas-müller1987" target="_blank">
          <img src="/assets/LI-In-Bug.png" alt="LinkedIn" />
        </a>
        <a href="https://github.com/DiggiAndi" target="_blank">
          <img src="/assets/GitHub_Logo_White.png" alt="GitHub" />
        </a>
      </div>
    </div>
  </footer>
  